registry = https://art.lmru.tech/api/npm/npm/
save-exact=true
strict-ssl=false
ca=
loglevel=error
audit=false
@partnerportal:registry=https://docker.art.lmru.tech/artifactory/api/npm/npm-local-partnerportal/